.menu {
  height: var(--menu-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  color: var(--bg-secondary);
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  transition: all 0.3s ease-out;
  will-change: transform;
  position: relative;
  margin-right: 4px;

  // &-collapsed {
  //   width: 60px;
  // }

  &-list {
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    background-color: var(--color-primary);
    transition: all 0.3s ease-out;
    will-change: transform;
    // overflow-x: hidden;
    // overflow-y: auto;
    // direction: rtl;

    // &::-webkit-scrollbar {
    //   width: 1px;
    // }

    // &::-webkit-scrollbar-track {
    //   background: #f1f1f1;
    // }

    &::-webkit-scrollbar-thumb {
      background: var(--bg-hover);
    }
  }

  &-logo {
    width: 70px;
    height: var(--menu-height);
    // margin-bottom: 15px;
    // margin-left: auto;
    // margin-right: auto;
  }

  &-item {
    // background-color: var(--bg-secondary);
    color: var(--color-primary);
    padding: 5px;
    // cursor: pointer;
    transition: all 0.3s ease-out;
    direction: ltr;
    width: fit-content;
    text-align: left;
    border-radius: 2px;
    display: flex;

    & a {
      color: var(--bg-secondary);
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & svg {
      color: var(--bg-secondary);
      width: 20px;
    }

    &:hover,
    &-active {
      background-color: var(--bg-hover);

      & a {
        // color: white;
        width: 100%;
      }

      // & svg {
      //   // color: white;
      // }
    }
  }

  &-bottom {
    margin-top: 0px;
    // padding-top: 5px;
    // margin-bottom: 5px;
    display: flex;
    width: 60px;
    justify-content: space-evenly;
    align-items: start;
    align-content: start;
    flex-direction: column;
    height: var(--menu-height);

    // flex-wrap: wrap;
    // border-top: 1px dashed var(--bg-hover);
  }

  &-icon {
    margin-left: 5px;
    margin-right: 5px;
  }

  &-item-bottom {
    margin: 10px;
    background-color: var(--bg-secondary);
    color: var(--color-primary);
    // border-color: 1px solid var(--bg-hover);
    width: 40px; // var(--menu-height)/2;
    // height: var(--menu-height);

    // border-radius: 50%;
    // padding: 5px;
    // cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:hover,
    &-active {
      background-color: var(--bg-hover);

      & a {
        color: var(--bg-secondary);
      }

      & svg {
        color: var(--bg-secondary);
      }
    }
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}