.menu {
  height: var(--menu-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  color: var(--bg-secondary);
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  transition: all 0.3s ease-out;
  will-change: transform;
  position: relative;
  margin-right: 4px;


  &-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    background-color: var(--color-primary);
    transition: all 0.3s ease-out;
    will-change: transform;

    &::-webkit-scrollbar-thumb {
      background: var(--bg-hover);
    }
  }

  &-logo {
    width: 70px;
    height: var(--menu-height);
  }

  &-item {
    color: var(--color-primary);
    padding: 5px;
    transition: all 0.3s ease-out;
    direction: ltr;
    width: fit-content;
    text-align: left;
    border-radius: 2px;
    display: flex;


    & a {
      color: var(--bg-secondary);
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & svg {
      color: var(--bg-secondary);
      width: 20px;
    }

    &:hover,
    &-active {
      background-color: var(--bg-hover);
      border-radius: 6px;

      & a {
        width: 100%;
      }

    }
  }

  &-bottom {
    margin-top: 0px;
    display: flex;
    width: 60px;
    justify-content: space-evenly;
    align-items: start;
    align-content: start;
    flex-direction: column;
    height: var(--menu-height);
  }

  &-icon {
    margin-inline: 4px;
  }

  &-item-bottom {
    color: var(--bg-secondary);
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:hover,
    &-active {
      background-color: var(--bg-hover);

      & a {
        color: var(--bg-secondary);
      }

      & svg {
        color: var(--bg-secondary);
      }
    }
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}