:root {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  font-weight: 400;
  --bg-primary: #f0f0f0;
  --bg-secondary: #d9d9d9;
  --bg-hover: #595959;
  --color-primary: #001529;
  /* #434343; */
  --color-secondary: #262626;

  /* var(--primary-600); */
  /* #1677ff; */
  --color-danger: #f5222d;
  --color-success: #52c41a;
  --color-info: #fadb14;
  --color-warning: #ffa940;

  /*  */
  --menu-height: 50px;
  --topbar-height: 30px;
  --gap: 10px;
  --padding: 5px;

}

html {
  height: 100%;
  width: 100%;

}

body {
  height: 100%;
  width: 100%;

}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #494949;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(49, 49, 49, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}